body {
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  background-color: black;
  color: lightgrey;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("images/Vergissmeinnicht.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrapper {
  flex-grow: 1;
  text-align: center;
}

.language-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.language-button {
  box-shadow: 0 7px 5px 0 rgba(211,221,221,0.7), 0 1px 1px 0 rgba(211,221,221,0.69);
  background-color: black;
  border: none;
  color: white;
  padding: 12px 21px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.language-button:hover {
  box-shadow: 0 12px 16px 0 rgba(211,21,21,0.9),0 7px 5px 0 rgba(211,21,21,0.9);
  color: red;
}

a:link {
  color: lightgrey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

header {
  background-color: red;
  background: linear-gradient( black, black);
  padding: 20px;
  color: red;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  margin: 20px;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  margin-top: 21px;
  margin-right: 11px;
  margin-bottom: 21px;
  margin-left: 21px;
  padding-left: 21px;
  border-left-style: solid;
  border-color: darkred;
}

.compositions ul,
.projects ul {
  list-style: none;
  padding: 0;
}

.compositions li,
.projects li {
  margin: 10px 0;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: darkgray;
}

.installation-description {
  margin-top: 10px;
}

.installation-description p {
  margin: 0;
}

.hidden {
  display: none;
}

footer {
  background: linear-gradient(black, black, black);
  color: grey;
  text-align: center;
  padding: 10px;
}
footer nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
footer nav a {
  margin: 0 10px;
}
